# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Local outputs
downloads/

# Cookies / sensitive local auth data
cookies/
*cookies*.txt

# OS/editor noise
.DS_Store
Thumbs.db
*.log

# Exe building
dist/
build/