# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Local outputs
downloads/

# Cookies / sensitive local auth data
cookies/
*cookies*.txt

# OS/editor noise
.DS_Store
Thumbs.db
*.log

# Local env config (keep template committed)
.env
.env.*
!.env.example

# Exe building
dist/
build/

# Script because i dont want to have to do it again but also dont want to commit it
scripts/zoom_passcode_flow_codegen.py